#book_label {
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

#chapter_label {
    border-style: solid;
    border-width: 1px;
    border-color: black;   
}

#play_button {
    border-radius: 10%;
}

#left_button {
    border-radius: 10%;
}

#right_button {
    border-radius: 10%;
}